<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
    </nav>
    <h1>Order List</h1>
    <a href="{{ url_for('add_pizza') }}">Add Order</a>
    <div class="order-container">
        {% for order in orders %}
            <div class="order">
            <p>Type: {{ order.type }}</p>
            <p>Crust: {{ order.crust }}</p>
            <p>Size: {{ order.size }}</p>
            <p>Quantity: {{ order.quantity }}</p>
            <p>Price Per Pizza: {{ order.price_per_formatted }}</p>
            <p>Order Date: {{ order.order_date }}</p>
            <p>Subtotal: {{ order.subtotal_formatted }}</p>
            <p>Delivery Charge (10%): {{ order.delivery_charge_formatted }}</p>
            <p>Total: {{ order.total_formatted }}</p>
            <a href="{{ url_for('edit_order', order_id=order['id']) }}">Edit</a>
            <a href="{{ url_for('confirm_delete', order_id=order['id']) }}">Delete</a>
        </div>
    {% endfor %}
</body>
</html>
